<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.buffetrestaurent">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuffetRestaurent"
        android:usesCleartextTraffic="true">
        <activity android:name=".Controller.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.Activity.StaffManageActivity" />
        <activity android:name=".Controller.Activity.CustomerBuyDiscountActivity" />
        <activity android:name=".Controller.Activity.EditDiscountStaffManage"></activity>
        <activity android:name=".Controller.Activity.StaffDiscountManagement" />
        <activity android:name=".Controller.Activity.CustomerDiscountHistoryActivity"></activity>
        <activity
            android:name=".Controller.Activity.AddMenuActivity"
            android:parentActivityName=".Controller.Activity.MenuMangeForStaff" />
        <activity android:name=".Controller.Activity.MenuMangeForStaff" />
        <activity android:name=".Controller.Activity.CustomerMenu" />
        <activity android:name=".Controller.Activity.ConfirmReservation" />
        <activity android:name=".Controller.Activity.UserChangePassword" />
        <activity android:name=".Controller.Activity.AddStaffActivity"
            tools:ignore="DuplicateActivity"/>
        <activity android:name=".Controller.Activity.AddBalanceActivity">
        </activity>
        <activity
            android:name=".Controller.Activity.UserProfile"
            android:parentActivityName=".Controller.Activity.HomePage" />
        <activity
            android:name=".Controller.Activity.HomePageStaff"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Controller.Activity.Payment" />
        <activity
            android:name=".Controller.Activity.HomePage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Controller.Activity.UpdateReservation" />
        <activity android:name=".Controller.Activity.AddReservation" />
        <activity android:name=".Controller.Activity.CancelReservation" />
        <activity android:name=".Controller.Activity.StaffProfile" />
    </application>

</manifest>